/* GENERAL PAGE RULES */

body {
    font-family: "Helvetica", Helvetica, Arial, Geneva, AppleGothic, sans-serif;
    font-size: 1em;
}

h1 {
    font-size: 2em;
}

#holder {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}

#left {
    flex-grow: 100;
    min-width: 1em;
    max-width: 4em;
}

#middle {
    max-width: 35em;
}

#right {
    min-width: 1em;
    flex-grow: 100;
}

a {
	color: #000080;;
}

a:hover {
	color:#FF0000;
}
